[submodule "embedded/argos3"]
	path = embedded/argos3
	url = https://github.com/MISTLab/argos3.git
[submodule "embedded/argos3-examples"]
	path = embedded/argos3-examples
	url = https://github.com/MISTLab/argos3-examples.git
[submodule "embedded/crazyflie-firmware"]
	path = embedded/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
