astroid==2.9.3
attrs==21.4.0
bidict==0.21.4
cflib==0.1.17.1
click==8.0.4
Flask==2.0.3
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
Flask-SocketIO==5.1.1
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
lazy-object-proxy==1.7.1
libusb-package==1.0.25.0
MarkupSafe==2.1.0
mccabe==0.6.1
mongomock==4.0.0
mypy==0.931
mypy-extensions==0.4.3
numpy==1.22.3
opencv-python-headless==4.5.5.62
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pylint==2.12.2
pymongo==4.0.2
pyparsing==3.0.7
pytest==7.0.1
pytest-mock==3.7.0
pytest-stub==1.1.0
python-engineio==4.3.1
python-socketio==5.5.2
pyusb==1.2.1
scipy==1.8.0
sentinels==1.0.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.13.3
yapf==0.32.0
zope.event==4.5.0
zope.interface==5.4.0
